In [1]:
import os
os.chdir(r'C:\Users\Veena Nigam\Desktop\Python project\Data Cleaning Projects')
os.getcwd()

'C:\\Users\\Veena Nigam\\Desktop\\Python project\\Data Cleaning Projects'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing the numpy and pandas package
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O 


# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv("BL-Flickr-Images-Book.csv")

In [5]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [7]:
# counting missing values
df.apply(lambda x: sum(x.isnull()))

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [8]:
#method 2:
#calculatin no. of missing values for each column and it's percentage
def percentage_of_miss():
  df1=df[df.columns[df.isnull().sum()>=1]]
  total_miss = df1.isnull().sum().sort_values(ascending=False)
  percent_miss = (df1.isnull().sum()/df1.isnull().count()).sort_values(ascending=False)
  missing_data = pd.concat([total_miss, percent_miss], axis=1, keys=['Number of Missing', 'Percentage'])
  return(missing_data)

In [9]:
percentage_of_miss()

                        Number of Missing  Percentage
Engraver                             8287    1.000000
Corporate Contributors               8287    1.000000
Corporate Author                     8287    1.000000
Former owner                         8286    0.999879
Edition Statement                    7514    0.906721
Publisher                            4195    0.506215
Author                               1778    0.214553
Date of Publication                   181    0.021841

#### Some Columns- Engraver, Corporate Contributors, Corporate Author, Former owner are having 100% or near to 100% missing values. I will drop those columns alongwith some unnecessary columns and handled the missing values for the rest of the data.

In [10]:
drop_col = ['Edition Statement','Engraver', 'Corporate Contributors', 'Corporate Author', 'Former owner']

In [11]:
df.drop(drop_col, inplace = True, axis =1)

In [12]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [13]:
df.tail()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [14]:
df.tail()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [15]:
percentage_of_miss()

                     Number of Missing  Percentage
Publisher                         4195    0.506215
Author                            1778    0.214553
Date of Publication                181    0.021841

In [16]:
#gettin columns' names specially sometimes there is a space or unders score in some columns' names
df_columns=df.columns
print(df_columns)

Index(['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Contributors', 'Issuance type',
       'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [17]:
#categrocial variables
df_cat=df.select_dtypes(include='object')
df_cat.columns

Index(['Place of Publication', 'Date of Publication', 'Publisher', 'Title',
       'Author', 'Contributors', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [18]:
#numerical variables
df_num=df.select_dtypes(exclude='object')# Just get me the numeric variables
df_num.columns

Index(['Identifier'], dtype='object')

In [19]:
# Getting the summary of Data
pd.options.display.float_format = "{:.2f}".format
df.describe()# for numeric columns

       Identifier
count     8287.00
mean   2017344.16
std    1190379.41
min        206.00
25%     915787.50
50%    2043707.00
75%    3047429.50
max    4160339.00

In [20]:
#finding just unique values
df.apply(lambda x: len(x.unique()))

Identifier              8287
Place of Publication    1441
Date of Publication     1149
Publisher               1990
Title                   8210
Author                  5006
Contributors            6674
Issuance type              2
Flickr URL              8287
Shelfmarks              8287
dtype: int64

In [21]:
#Find the Frequency of each items

#categrocial variables
df_cat=df.select_dtypes(include='object')
df_cat.apply(lambda x:print( x.value_counts()))

London                          3868
Paris                            479
Edinburgh                        208
New York                         177
Leipzig                          119
                                ...
Parker Son and Bourne              1
Dalbeattie                         1
2 том. Санктпетербургъ, 1867       1
Saint Petersburg]                  1
London, [1865.]                    1
Name: Place of Publication, Length: 1441, dtype: int64
1897         157
1896         150
1893         130
1892         127
1898         125
            ...
1827?]         1
1863]          1
1893, etc      1
1898-1912      1
[1858]-60      1
Name: Date of Publication, Length: 1148, dtype: int64
Macmillan & Co.           85
London                    69
Privately printed         53
Longmans & Co.            52
Hurst & Blackett          51
                          ..
Hodges & Co.               1
Phoenix Publishing Co.     1
McGill & Witherow          1
R. S. Kirby, etc.          1
J. Thin                    1
Name: Publisher, Length: 1989, dtype: int64
[A General Gazetteer, in miniature ... The whole revised ... by A. G. Findlay. Second edition.]                                                                                                                                                                                                                                    6
[Vestiges of the Natural History of Creation. [By Robert Chambers.] Second edition.]                                                                                                                                                                                                                                               4
[Fragments in Prose and Verse: by a young lady lately deceased (Elizabeth S- [i.e. Smith]). With some account of her life and character, by the author of “Sermons on the Doctrine and Duties of Christianity” [Miss Henrietta Maria Bowdler].]                                                                                    4
Jane Eyre                                                                                                                                                                                                                                                                                                                          3
[Histoire physique, civile et morale de Paris ... Quatrième édition.]                                                                                                                                                                                                                                                            3
                                                                                                                                                                                                                                                                                                                                  ..
A Brave Lady. [A novel.] By the Author of “John Halifax” [D. M. Mulock, afterwards Craik]                                                                                                                                                                                                                                          1
De arce Wisbyensi anno 1676 a Danis expugnata atque paullo post funditus excisa dissertatio, etc. Praes. J. H. Schröder. [With “Kort Relation om Gottlandz öfwergång A:o 1676: d: 1: Maij till the Danske och hwad som derwjdh passerat,” printed from a MS. in the Palmsköld collection in the Upsala University Library.]    1
Route from Liverpool to Great Salt Lake Valley illustrated ... from sketches ... by Frederick Piercy, and containing a map of the overland portion of the journey. Edited by J. Linforth. [With plates, including portraits.]                                                                                                      1
Against the S. The story of an heroic age in England. By the Author of “The Schonberg-Cotta Family” [Mrs. E. Charles]                                                                                                                                                                                                              1
Voyages et aventures dans l'Alaska ... Ouvrage traduit de l'Anglais ... par E. Jonveaux. Illustré de 37 gravures ... et accompagné d'une carte                                                                                                                                                                                   1
Name: Title, Length: 8210, dtype: int64
Shakespeare, William                  48
Byron, George Gordon Byron - Baron    40
Scott, Walter - Sir                   29
Burns, Robert                         28
NORIE, John William.                  26
                                      ..
MORSELLI, Enrico.                      1
S., J.                                 1
ARROW, Frederick - Sir                 1
Nollekens, Joseph                      1
BARRY, George.                         1
Name: Author, Length: 5005, dtype: int64
Braddon, M. E. (Mary Elizabeth)                   39
HOBBS, J. S.                                      21
ARGLES, afterwards HUNGERFORD, Margaret Wolfe.    21
Gilfillan, George                                 18
PREST, Thomas Peckett.                            17
                                                  ..
SCHOTT, Wilhelm - Orientalist                      1
RUECK, Carl.                                       1
CAREY, Mme B.                                      1
Vane, Sutton                                       1
GALLAHER, Fannie.                                  1
Name: Contributors, Length: 6674, dtype: int64
monographic    8268
continuing       19
Name: Issuance type, dtype: int64
http://www.flickr.com/photos/britishlibrary/tags/sysnum002728064    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum003051193    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum001764990    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum000420310    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum000069151    1
                                                                   ..
http://www.flickr.com/photos/britishlibrary/tags/sysnum001268005    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum000811461    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum002906804    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum000104154    1
http://www.flickr.com/photos/britishlibrary/tags/sysnum001664680    1
Name: Flickr URL, Length: 8287, dtype: int64
British Library HMNTS 10005.d.1.                                                                                                          1
British Library HMNTS 642.l.16.                                                                                                           1
British Library HMNTS 012640.h.6.                                                                                                         1
British Library HMNTS 1304.m.5-6.                                                                                                         1
British Library HMNTS 10409.h.14.                                                                                                         1
                                                                                                                                         ..
British Library HMNTS Dex.272.|British Library HMNTS C.58.i.15.|British Library HMNTS 12620.e.12.(1.)|British Library HMNTS C.144.b.6.    1
British Library HMNTS 9602.cc.12.                                                                                                         1
British Library HMNTS 10027.d.10.                                                                                                         1
British Library HMNTS 10358.dd.17.                                                                                                        1
British Library HMNTS 992.i.24.(8.)                                                                                                       1
Name: Shelfmarks, Length: 8287, dtype: int64

Place of Publication    None
Date of Publication     None
Publisher               None
Title                   None
Author                  None
Contributors            None
Issuance type           None
Flickr URL              None
Shelfmarks              None
dtype: object

#### Going through the columns one by one

['Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Contributors', 'Issuance type',
       'Flickr URL', 'Shelfmarks']

#### Place of Publication Column

In [22]:
df['Place of Publication'].value_counts()

London                          3868
Paris                            479
Edinburgh                        208
New York                         177
Leipzig                          119
                                ...
Parker Son and Bourne              1
Dalbeattie                         1
2 том. Санктпетербургъ, 1867       1
Saint Petersburg]                  1
London, [1865.]                    1
Name: Place of Publication, Length: 1441, dtype: int64

In [23]:
df['Place of Publication'].unique()

array(['London', 'London; Virtue & Yorston',
       'pp. 40. G. Bryan & Co: Oxford, 1898', ...,
       'pp. viii. 64. J. Debrett: London, 1789', 'G. Eld: London, 1608',
       'Newcastle upon Tyne'], dtype=object)

In [24]:
publication = df['Place of Publication']
df['Place of Publication'] = np.where(publication.str.contains('London'), 'London',
    np.where(publication.str.contains('Oxford'), 'Oxford',
        np.where(publication.eq('Newcastle upon Tyne'),
            'Newcastle-upon-Tyne', df['Place of Publication'])))

In [25]:
df['Place of Publication'].unique()

array(['London', 'Oxford', 'Coventry', ..., 'Merida de Yucatan',
       'Москва, 1860', 'Moskwa'], dtype=object)

In [26]:
df.head(8000)

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...
7995,3927578,Burnley,1889,L. & A. Lupton,"Memories of Hurstwood, Burnley, Lancashire. Wi...","WILKINSON, Tattersall - and TATTERSALL (J. F.)","TATTERSALL, J. F.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10368.g.40.
7996,3928021,Chicago,1878,"W. Le Baron, Jr., and Co.","The history of Will County, Illinois, containi...",NaN,"HILL, H. H. - Historian|PERRIN, William Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10409.i.16.
7997,3929039,Leipzig,1877,NaN,"Challenger-Briefe von R. v. W., ... 1872-1875....","WILLEMOES-SUHM, Rudolf von.","KUPFFER, Carl Wilhelm von.|WILLEMOES-SUHM, Mat...",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10024.f.4.
7998,3929761,London,1766,NaN,Pynsent's Ghost: (A Parody on the celebrated B...,NaN,"MALLET, David.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 644.k.19.(5.)
7999,3929765,London,1779,NaN,"William and Nanny; or, the Cottagers. A musica...",NaN,"GOODENOUGH, Richard Jocelyn.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 643.g.10.(5.)

#### Date of Publication Column

In [27]:
df['Date of Publication'].describe()

count     8106
unique    1148
top       1897
freq       157
Name: Date of Publication, dtype: object

In [28]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

0    1879
1    1868
2    1869
3    1851
4    1857
Name: Date of Publication, dtype: object

In [30]:
df[['Date of Publication']] = extr

In [31]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

#### Publisher Column

In [30]:
df['Publisher'].unique()

array(['S. Tinsley & Co.', 'Virtue & Co.', 'Bradbury, Evans & Co.', ...,
       'T. Fordyce', 'M. Mozley & Son', 'Mackenzie & Dent'], dtype=object)

In [31]:
df.head(4195)

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...
4190,2058064,London,1899,Macmillan & Co.,The Life and Works of Charles Lamb. (With intr...,"Lamb, Charles","AINGER, Alfred - Master of the Temple",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12274.dd.1.
4191,2058081,London,1840,E. Moxon,"Rosamund Gray, Essays, etc: Smaller Collections","Lamb, Charles","GARDINER, Grace.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12272.h.8.|British Libra...
4192,2058094,London,1885,Macmillan and Co.,Mrs. Leicester's School and other writings in ...,"Lamb, Charles","AINGER, Alfred - Master of the Temple",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12272.bb.10.
4193,2058234,London,1893,NaN,Lamb's Essays of Elia. A selection. With intro...,"Lamb, Charles","Deighton, Kenneth.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 012272.aaaa.1/5.
4194,2058274,London,1889,Field & Tuer,Prince Dorus ... with nine illustrations in fa...,"Lamb, Charles","TUER, Andrew White.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 11647.ee.24.

#### Replacing the missing values with mode

In [32]:
from scipy.stats import mode

Publisher_mode = df.pivot_table(values='Publisher',columns='Flickr URL',aggfunc=(lambda x:mode(x).mode[0]))
print('Mode for each Flickr URL Column:')
print(Publisher_mode)

miss_bool =  df['Publisher'].isnull()

print('\nOriginal #missing: %d' %sum(miss_bool))
df.loc[miss_bool,'Publisher']= df.loc[miss_bool,'Flickr URL'].apply(lambda x:Publisher_mode[x])
print(sum(df['Publisher'].isnull()))

Mode for each Flickr URL Column:
Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206  \
Publisher                                    S. Tinsley & Co.

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000216  \
Publisher                                        Virtue & Co.

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000218  \
Publisher                               Bradbury, Evans & Co.

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000472  \
Publisher                                       James Darling

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000480  \
Publisher                                Wertheim & Macintosh

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000481  \
Publisher                                   William Macintosh

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000519  \
Publisher                                          The Author

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000667  \
Publisher                                                   0

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000000874  \
Publisher                                                   0

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum000001143  \
Publisher                                                   0

Flickr URL  ...  \
Publisher   ...

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004117751  \
Publisher                                   John Wiley & Sons

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004117752  \
Publisher                                      Trübner & Co.

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004156359  \
Publisher                                 G. P. Putnam's Sons

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004157746  \
Publisher                              F. C. and J. Rivington

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004157862  \
Publisher                                          T. Fordyce

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004158088  \
Publisher                                                   0

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004158128  \
Publisher                                     M. Mozley & Son

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004159563  \
Publisher                             T. Cadell and W. Davies

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004159587  \
Publisher                                    Mackenzie & Dent

Flickr URL http://www.flickr.com/photos/britishlibrary/tags/sysnum004160339
Publisher                                                   0

[1 rows x 8287 columns]

Original #missing: 4195
0

#### Title Column

### the Title Column contains many unwanted characters like  [, by, By,],nan, NaN

In [33]:
def New_Title(title):
    
      
    if title[0] == '[':
        title = title[1: title.find(']')]
    
    if title == 'nan':
        return 'NaN'
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]
        
    if '[' in title:
        title = title[:title.find('[')]

    title = title[:-2]
        
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)
    
df['Title'] = df['Title'].apply(New_Title)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London,1868,Virtue & Co.,All For Greed,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love The Avenger,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, Chiefly Ecclesiastical, To The...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"The World In Which I Live, And My Place In It","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

#### Author Column

In [34]:
df['Author'].unique()

array(['A. A.', 'A., A. A.', 'A., E. S.', ...,
       'GIDDY, afterwards GILBERT, Davies.',
       'LYSONS, Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S',
       'Mackenzie, E. (Eneas)'], dtype=object)

In [66]:
df['Author'] = str(df['Author'])
Author = df['Author'].str.split('\s\,')

df['Author_name'] = Author.str[3]

#### Issuance Type Column

In [51]:
len(df['Issuance type'].unique())

2

#### There are two unique values in this column - monographic and continuing

#### Flickr URL column

In [48]:
len(df['Flickr URL'].unique())

8287

#### All observations are having unique values

#### Shelfmarks

In [53]:
len(df['Shelfmarks'].unique())

8287

#### All observations are having unique values

In [54]:
df['Shelfmarks'].value_counts()

British Library HMNTS 10005.d.1.                                                                                                          1
British Library HMNTS 642.l.16.                                                                                                           1
British Library HMNTS 012640.h.6.                                                                                                         1
British Library HMNTS 1304.m.5-6.                                                                                                         1
British Library HMNTS 10409.h.14.                                                                                                         1
                                                                                                                                         ..
British Library HMNTS Dex.272.|British Library HMNTS C.58.i.15.|British Library HMNTS 12620.e.12.(1.)|British Library HMNTS C.144.b.6.    1
British Library HMNTS 9602.cc.12.                                                                                                         1
British Library HMNTS 10027.d.10.                                                                                                         1
British Library HMNTS 10358.dd.17.                                                                                                        1
British Library HMNTS 992.i.24.(8.)                                                                                                       1
Name: Shelfmarks, Length: 8287, dtype: int64